---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import PostPrivate from "@components/PostPrivate";
import SkeletonHeader from '@components/SkeletonHeader/SkeletonHeader';
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"private">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Minha Trilha | ${SITE.title}`}>
  <Header />
  
  <main id="main-content">
    <SkeletonHeader
      title="Minha Trilha"
      transitionName="minha-trilha"
      desc='Todas as aulas da sua trilha personalizada'
      client:load />
    {
      paginatedPosts.length &&

      <ul>
        {
          paginatedPosts
          .map(({ data, slug }) => (
            <PostPrivate client:load href={`/minha-trilha/${slug}/`} frontmatter={data} />
          ))
        }
      </ul>
    }
  </main>

  <style>
    #main-content {
      @apply mt-7 mx-auto w-full max-w-7xl px-4 pb-4;
    }
  </style>
  

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/minha-trilha${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/minha-trilha/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>

<script>
  import { getUserData } from "@utils/user.utils";
  import { navigate } from "astro:transitions/client";
  
  const user = getUserData();

  if (!user) navigate('404');
</script>