---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Feature from "@components/Feature";
import Post from "@components/Post";
import getSortedPosts from "@utils/getSortedPosts";
import BannerCookies from "@components/BannerCookies.astro";
import WelcomeUser from "@components/WelcomeUser/WelcomeUser";
import { IconArrowRight } from "@tabler/icons-react";
import Tag from "@components/Tag.astro";
import getTopTags from "@utils/getTopTags";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

let tags = getTopTags(posts);
---

<Layout>
  <Header />
  <main id="main-content">
    <WelcomeUser client:load />

    <section id="hero">
      <div>
        <h2>
          <span class="text-5xl font-bold text-skin-base">Nosso Blog</span>
        </h2>
      </div>

      <p>
        <span class="block"> Boas vindas ao blog da Play Devs! 🚀 </span>

        <span class="block">
          O ponto de encontro perfeito para desenvolvedores compartilharem
          dicas, tutoriais e insights valiosos!
        </span>

        <span class="block">
          Fique atualizado com as últimas tendências, ferramentas e tecnologias
          que estão transformando o universo da programação. 🌟
        </span>

        <!-- <span class="block mt-5">
          TOP 5 Tags
        </span>

        <ul class="flex">
          {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
        </ul> -->
      </p>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Destaques</h2>
            <ul class="flex flex-col justify-between sm:flex-row">
              {featuredPosts.map(({ data, slug }) => (
                <Feature href={`/posts/${slug}/`} frontmatter={data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Últimas Postagens</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 7 && (
                  <Post href={`/posts/${slug}/`} frontmatter={data} />
                )
            )}
          </ul>
        </section>
      )
    }

    {
      sortedPosts.length > 8 && (
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts/">
            Todas as Postagens
            <IconArrowRight />
          </LinkButton>
        </div>
      )
    }
  </main>

  <BannerCookies />

  <Footer />
</Layout>

<style>
  @import "animate.css";
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold text-skin-accent sm:mt-0 sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured {
    @apply pt-6;
  }

  #recent-posts {
    @apply pb-6 pt-0;
  }

  #featured h2 {
    @apply text-2xl font-semibold tracking-wide sm:text-4xl;
  }

  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>

<!-- <script>

  const manifest = document.createElement('link');
  manifest.rel = 'manifest';
  manifest.href = 'manifest.json';
  document.head.appendChild(manifest);

  document.head.appendChild(manifest);

</script> -->
